.herofour{
    text-align: center;
    background-color: #F8F9FA;
    width: 1520px;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.herofourcontainer{
    display: flex;
   
    margin: auto;
    justify-content: space-evenly;
    margin-top: 61px;
}
.herofourright{
    display: flex;
    text-align: justify;
    align-items: center;
}
.herofourcontainer{
    margin-top: 50px;
}
.herofourhead{
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
    padding-top: 61px;
    box-sizing: border-box;
}