.image-container {
    position: relative;
    bottom: 100px;
    left: 300px;
}

.image-container img {
    position: absolute;
}
.image-container img:nth-child(1) {
    top: 0;
    left: 0;
}
.image-container img:nth-child(2) {
    top: 50px;
    left: 170px;
}
.image-container img:nth-child(3) {
    top: 130px;
    left: 40px;
}
.herorefer{
    display: flex;
    width: 100%;
    height: 440px;
    margin: auto;
    font-size: 18px;
    font-weight: 500;
}
.herereferleft{
   margin-left: 150px;
}

