.container{
   display: flex;
   width: 1376px;
   margin: auto;
   justify-content: space-between;
   padding: 24px 32px;
}
.left{
    display: flex;
    width: 331px;
    justify-content: space-around;
}
.right{
    display: flex;
    width: 497px;
    justify-content: space-between;
}
.right1{
  display: flex;
  width: 258px;
}
input{
    width: 100%;
}
.right2{
    width: 239px;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
button{
    border: none;
    background: #ffffff;
}
input[type="text"]{
    background-color: #E2E2E2;
    color: black;
}
@media screen and (min-width: 1400px) {
    .container{
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: space-between;
        padding: 24px 32px;
     }
}