.herothree{
    display: flex;
    margin: auto;
    width: 1440px;
}
.heroleft{
    display: flex;
    margin: auto;
    width: 690px;
    height: 574.71px;
    
}
.herothreeright1{
    display: flex;
    width: 564px;
    margin-bottom: 50px;
}
.herothreeright2{
    margin-bottom: 50px;
}
.heroright{
    margin: auto;
    width: 100%;
    align-items: center;
    height: 235px;
    justify-content: flex-start;
}
/* @media screen and (max-width: 1250px) {
    .herothree{
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    .heroright{
        display: none;
    }
 } */
